*.class

# Package Files #
*.jar
*.war
*.ear
*target/
*.out

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# resources
#resources

# java doc
/common/doc

# ignore pocs
pocs

#ignore IntelliJ IDEA files
.idea
*.iml

# ignore libs
lib
